*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.nav{
  padding: 30px 122px;
  margin: 0 0px 20px;
  display: flex;
  justify-content: space-between;
  background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-logo img{
  height: 30px;
}
.nav-logo h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
span{
  color: #FF42A5;
}
.nav-content ul{
  display: flex;
  list-style: none;
  gap: 28px;
}
.nav-content ul a{
  text-decoration: none;
}
.nav-li{
  padding: 10px;
  color: #3C354F;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.nav-icon{
  background-color: #E7E6E9;
  padding: 10px 15px;
  border-radius: 8px;
  color: #3C354F;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.fa-brands{
  margin-left: 10px;
}

/* banar start */

.banner{
  margin: 40px 120px;
  display: flex;
  justify-content: space-between;
  gap: 0;

}
.banner-content{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 50%;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  padding: 30px 200px 30px 170px;
}
.banner-title{
  color: #0B0223;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
.big-title{
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description {
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;

}
.banner-description p {
  margin: 10px 13px;
}
.banner-img{
  width: 40%;

}
.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.btn-primary{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: #FF42A5;
  border: 0;
  padding: 10px 35px;
  margin-top: 20px;
}
.btn-secondary{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: #4EC5F7;
  border: 0;
  padding: 16px 35px;
  margin-top: 20px;
}

/* online games section */

.online-game{
  margin: 100px 120px;
}
.online-game-content h2{
  color: #0B0223;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}
.online-game-content span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 15px 0;
}
.card-container{
  display: flex;
  justify-content: space-around;
  gap: 15px;
  max-width: 100%;
}
.card-img{
  width: 250px;
  
}
.card-1{
  padding: 10px;
}
.card{
  padding: 10px;
}
.card-description{
  text-align: left;
}
.card-img:hover{
  border: 3px solid #F948B2;
  border-radius: 14px;
}

/* Play instantly section */

.instantly-section{
  margin: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.instantly-content{
  width: 40%;
  text-align: right;
  padding: 0 50px;

}
.instantly-img{
  width: 40%;
  margin: 0 30px;

}
.big-pic img{
  width: 90%;
  margin-left: 50px;
}
.small-pic img{
  width: 180px;
  /* position: relative; */
  margin: -140px -150px 0 0;
}
.instantly-content h2{

  font-size: 30px;
  font-weight: 700;
  line-height: 50px; /* 125% */
}

/* icon section */

.icon-section{
  padding: 100px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  background: rgba(255, 66, 165, 0.03);
}

.icon-button{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  border: 0;
  padding: 0 15px;
}
.icon-button:hover{
  border: 1px solid #F948B2;
}
.icon-img{
  width: 40px;
}
.icon-description{
  color: #0B0223;
  font-size: 14px;
  font-weight: 600;
}



/* responsive */
/* mobile device */

@media screen and (max-width:767px) {
  body{
    max-width: 100%;
  }
  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    margin-bottom: 30px;
  }

  .nav-logo img{
    height: 25px;
  }
  .nav-logo h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .nav-content ul{
    display: flex;
    flex-direction: column;
  }
  /* banar */
  .banner{
    flex-direction: column-reverse;
    margin: 40px 40px;
  }
  .banner-content{
    width: 100%;
    background-size: contain;
    margin: 0 auto;
    padding: 70px;
    gap: 10px;

  }
  .banner-img{
    width: 90%;
    padding: 10px;

  }
  .banner-title{
    font-size: 21px;

  }
  .big-title{
    font-size: 40px;
  }
  .btn-primary{
    padding: 15px 45px;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 500;
    text-align: left;
  }
  .btn-secondary{
    padding: 0px 45px;
    font-size: 12px;
    border-radius: 30px;
  }
  .online-game-content h2{
    font-size: 26px;
    text-align: center;
    /* margin-bottom: 10px;
    width: 300px; */
  }
  .description{
    margin-bottom: 15px;
    font-size: 15px;
    /* width: 300px; */
  }
  .online-game{
    margin: 60px 40px ;
  }
  .card-container{
    flex-direction: column;
  }
  .card{
    text-align: center;
  }
  .card-description{
    text-align: center;
  }
  /* instant section */

  .instantly-section{
    margin: 40px;
    flex-direction: column;
    gap: 40px;
  
  }
  .instantly-content{
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }
  .instantly-img{
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .big-pic img{
    width: 90%;
    margin-left: 60px;
    
  }
  .small-pic{
    width: 100px;
    position: relative;
    right: 10px;
  }
  .instantly-content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
/* icon section */
.icon-section{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3px;
}

.icon-button{
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: white;
  border: 0;
  padding: 0;
}
.icon-img{
  width: 30px;
}
.icon-description{
  color: #0B0223;
  font-size: 10px;
  font-weight: 600;
}

}

/* lablet responsive */

@media screen and (min-width:768px) and (max-width:1024px) {
  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .nav-logo{
    padding-top: 40px;
  }

  .nav-logo img{
    height: 25px;
  }
  .nav-logo h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
 
  /* banar */
  .banner{
    flex-direction: column-reverse;
    margin: 40px 40px;
  }
  .banner-content{
    width: 100%;
    height: 100%;
    background-size: 100vh;
    margin: 0 auto;
    padding: 70px;
    gap: 10px;

  }
  .banner-img{
    width: 50%;
    padding: 10px;
    margin-right: 0 80px;

  }
  .banner-title{
    font-size: 21px;

  }
  .big-title{
    font-size: 40px;
  }
  .btn-primary{
    padding: 15px 45px;
    font-size: 12px;
    border-radius: 30px;
    font-weight: 500;
    text-align: left;
  }
  .btn-secondary{
    padding: 0px 45px;
    font-size: 12px;
    border-radius: 30px;
  }
  .online-game{
    margin: 60px 45px ;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
  }
  .card{
    margin-left: 20px;
  }

  /* instant section */
  .instantly-section{
    margin: 40px;
    flex-direction: column;
    gap: 40px;
  
  }
  .instantly-content{
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }
  .instantly-img{
    width: 85%;
    margin-left: 0;
    padding: 0;
  }
  .big-pic img{
    width: 80%;
    margin-left: 120px;
    
  }
  .small-pic img{
    width: 200px;
    position: relative;
    right: 0px;
  }
  .instantly-content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

/* icon section */
.icon-section{
  padding: 40px;
}

.icon-button{
  gap: 10px;
  justify-content: start;
  align-items: center;
  border-radius: 40px;
}

}
