*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.nav{
  padding: 30px 122px;
  margin: 0 0px 20px;
  display: flex;
  justify-content: space-between;
  background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.nav-logo img{
  height: 30px;
}
.nav-logo h2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
span{
  color: #FF42A5;
}
.nav-content ul{
  display: flex;
  list-style: none;
  gap: 28px;
}
.nav-content ul a{
  text-decoration: none;
  color: #3C354F;
}
.nav-content ul a:hover{
  border-bottom: 2px solid #3C354F;
  transition: 1s;
}
.nav-li{
  padding: 10px;
  color: #3C354F;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.nav-icon{
  background-color: #E7E6E9;
  padding: 10px 15px;
  border-radius: 8px;
  color: #3C354F;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.fa-brands{
  margin-left: 10px;
}

/* banar start */

.banner{
  margin: 40px 120px;
  display: flex;
  justify-content: space-between;
  gap: 0;

}
.banner-content{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 50%;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  padding: 30px 200px 30px 170px;
}
.banner-title{
  color: #0B0223;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
}
.big-title{
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-description {
  color: #534C64;
  font-size: 15px;
  font-weight: 500;
  text-transform: lowercase;

}
.banner-description p {
  margin: 10px 13px;
}
.banner-img{
  width: 40%;

}
.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-primary{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 30px;
  background: #FF42A5;
  border: 0;
  padding: 10px 35px;
  text-align: center;
  
  margin-top: 20px;
}
.btn-primary:hover{
  background-color: #c70569d5;
  transition: .5s;
}
.btn-secondary:hover{
  background-color: #139ad4;
  transition: .5s;
}
.btn-secondary{
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: #4EC5F7;
  border: 0;
  padding: 16px 35px;
  margin-top: 20px;
}

/* gamer section */

.gamer-section{
  margin: 0;
  padding: 40px 120px;
}
.gamer-container{
  display: flex;
  justify-content: space-between;
  
}
.gamer-img{
  width: 70%;
}
.gamer-img img{
  width: 100%;
}
.gamer-content{
  padding: 30px 0;
  width: 50%;
  text-align: right;
}
.gamer-title{
  font-size: 38px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-description{
  color: #534C64;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin: 15px 0 0;
  text-align: right;
}
.purpose{
  color: #534C64;
  text-align: right;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 187.5% */
}
.quote{
  color: #534C64;
  font-size: 20px;
  font-weight: 700;
  line-height: 45px;
}

/* online games section */

.online-game{
  margin: 100px 120px;
}
.online-game-content h2{
  color: #0B0223;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}
.online-game-content span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.description{
  color: #534C64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 15px 0;
}
.card-container{
  display: flex;
  justify-content: space-around;
  gap: 15px;
  max-width: 100%;
}
.card-img{
  width: 250px;
  
}
.card-1{
  padding: 10px;
}
.card{
  padding: 10px;
  text-align: center;
}
.card-description{
  text-align: left;
}
.card-img:hover{
  border: 3px solid #F948B2;
  border-radius: 14px;
}

/* overly effect */
.overly-container{

  position: relative;
  display: inline-block;

}
.overly{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: rgba(53, 52, 52, 0.836);
  cursor: pointer;

}
.content{
  position: absolute;
  top: 40%;
  left: 30%;
 text-align: center;
 transform: translate(-50% -50%);
 color: #F948B2;
 font-weight: 700;
}
.fa-circle-play{
  font-size: 30px;

}
.overly-container:hover .overly{
  opacity: 0.8;
  border: 4px solid #f53fac;
  border-radius: 10px;
}

/* Play instantly section */

.instantly-section, .play-game-section{
  margin: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-game-section{
  margin-top: 50px;
}
.instantly-content, .play-game-content{
  width: 40%;
  text-align: right;
  padding: 0 50px;

}
.instantly-img, .play-game-img{
  width: 40%;
  margin: 0 30px;

}
.play-game-img{
  text-align: right;
}
.big-pic img{
  width: 90%;
  margin-left: 50px;
}
.p-big-pic img{
  width: 90%;
  margin-right: 50px;
}
.small-pic img{
  width: 180px;
  margin: -140px -150px 0 0;
}
.p-small-pic img{
  text-align: right;
  width: 180px;
  margin: -140px 0px 0 150px;
}
.instantly-content,  .play-game-content h2{

  font-size: 30px;
  font-weight: 700;
  line-height: 50px; /* 125% */
}


/* icon section */

.icon-section{
  padding: 100px 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  background: rgba(255, 66, 165, 0.03);
}

.icon-button{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: white;
  border: 0;
  padding: 0 15px;
}
.icon-button:hover{
  border: 1px solid #F948B2;
}
.icon-img{
  width: 40px;
}
.icon-description{
  color: #0B0223;
  font-size: 14px;
  font-weight: 600;
}


/* CAREER SECTION */

.career-section{
  margin-top: 100px;
  padding: 0;
  background-color: #f53fac;
  display: flex;
}
.career-container{
  width: 50%;

}
.career-content{
  
  margin-left: 120px;
  color: white;
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.career-img{
  width: 50%;
}
.career-img img{
  width: 100%;
  height: 100%;
  
}
.career-title{
  font-size: 30px;
  font-weight: 700;
  line-height: 60px; /* 125% */
}
.career-description{
  font-size: 13px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.div{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
.btn-career{
  background-color: #fff;
  color: #f53fac;
  margin-bottom: 50px;
}
.btn-career:hover{
border: 2px solid #e93da4;
background-color: #e06ab1;
color: white;
}
.div-1{

}
.div-2{
  text-align: right;

}


/* footer */
footer{
  background-color: #0B0223;
}
.footer-section{
  width: 50%;
  margin:0 auto;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.f-logo h3{
  color: white;
}
.f-description, .f-icon, .f-policy{
  display: flex;
  gap: 50px;
}
.f-description{
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}
.f-desc{
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 13px;
  font-weight: 500;
}
.f-icon{
  font-size: 25px;
}
.f-icon a:hover{
  font-size: 30px;
  transition: .5s;
}



/* responsive */
/* mobile device */

@media screen and (max-width:767px) {

  body{
    max-width: 100vw;
  }
  header{
    margin: 0;
    padding: 0;
  }
  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px;
  }

  .nav-logo{
    margin-bottom: 15px;
    gap: 10px;
  }
  .nav-logo img{
    margin-left: 10px;
    height: 22px;
  }
  .nav-logo h2{
    text-align: left;
    font-size: 20px;
    width: 120px;
  }
  .nav-content ul{
    display: flex;
    flex-direction: column;
  }
  /* banar */

  .banner{
    flex-direction: column-reverse;
    margin: 40px 0px;
  }

  .banner-content{
    background-size: cover;
    margin: 0;
    gap: 10px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px;

  }


  .banner-img{
    width: 90%;
    padding: 10px;

  }
  .banner-title{
    font-size: 21px;
    text-align: left;

  }
  .banner-description{
    text-align: left ;
  }
  .big-title{
    font-size: 40px;
    text-align: left;
  }
  .btn-primary{
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
  }

  .btn-secondary{
    padding: 0px 25px;
    font-size: 15px;
    text-align: center;
  }

  /* gamer section  */

  .gamer-section{
    padding: 0 20px;
  }
  .gamer-container{

    flex-direction: column;
    
  }
  .gamer-img{
    width: 100%;
  }
  
  .gamer-content{
    width: 100%;
    text-align: center;
  }

  .gamer-description{
    text-align: center;
  }
  .purpose{
    text-align: center;
    margin-top: 30px;
  }

  /* online game section  */

  .online-game-content h2{
    font-size: 26px;
    text-align: center;
    
  }
  .description{
    margin-bottom: 15px;
    font-size: 15px;
  }
  .online-game{
    margin: 60px 40px ;
  }
  .card-container{
    flex-direction: column;
  }
  .card{
    text-align: center;
  }
  .card-description{
    text-align: center;
  }
  /* instant section */

  .instantly-section{
    margin: 40px;
    flex-direction: column;
    gap: 40px;
  
  }
  .instantly-content, .play-game-content{
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }
  .instantly-img, .play-game-img{
    width: 100%;
    margin-left: 0;
    padding: 0;
  }
  .big-pic img{
    width: 90%;
    height: 100%;
    margin-left: 40px;
    
    
  }
  .instantly-content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

/* play game section */

.play-game-section{
  flex-direction: column-reverse;
  margin: 40px;
  gap: 40px;
}

.p-big-pic img{
  width: 90%;
  height: 100%;
  margin-right: 40px;
  
  
}


/* icon section */
.icon-section{
  padding: 20px 5px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3px;
}

.icon-button{
  display: flex;
  gap: 2px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: white;
  border: 0;
  padding: 0;
}
.icon-img{
  width: 20px;
  
}
.icon-description{
  color: #0B0223;
  font-size: 10px;
  font-weight: 500;
  padding: 0px;
}
/* footer */
.footer-section{
 
}
.f-description, .f-icon, .f-policy{
  gap: 26px;
}
.f-description{
  font-size: 10px;
  display: grid;
  grid-template-columns:  2fr 1fr 2fr ;
  justify-content: center;
  align-items: center;
}
.f-policy{
  display: grid;
  grid-template-columns:1fr 1fr ;
  padding: 0;
}
.f-desc{
  font-size: 10px;
}
.f-icon{
  font-size: 20px;
}

/* career section */

.career-section{
  flex-direction: column;
}
.career-container{
  width: 100%;

}
.career-content{
  
  margin-left: 20px;
  margin-right: 20px;
  padding: 50px 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.career-img{
  width: 100%;
  height: 50%;
}


.career-description{
  font-size: 12px;
}
.div{
  
  width: 100%;
  font-size: 13px;
  gap: 10px;
}
.btn-career{
  background-color: #fff;
  color: #f53fac;
  margin-bottom: 50px;
}
.btn-career:hover{
border: 2px solid #e93da4;
background-color: #e06ab1;
color: white;
}
.div-1{

}
.div-2{
  text-align: right;

}

}

/* lablet responsive */

@media screen and (min-width:768px) and (max-width:1024px) {
  .nav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .nav-logo{
    padding-top: 40px;
  }

  .nav-logo img{
    height: 25px;
  }
  .nav-logo h2{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
 
  /* banar */
  .banner{
    flex-direction: column-reverse;
    margin: 40px 40px;
  }
  .banner-content{
    width: 100%;
    height: 100%;
    background-size: 100vh;
    margin: 0 auto;
    padding: 70px;
    gap: 10px;

  }
  .banner-img{
    width: 50%;
    padding: 10px;
    margin: 0 auto;

  }
  .banner-title{
    font-size: 21px;

  }
  .big-title{
    font-size: 40px;
  }
  .btn-primary{
    padding: 15px 45px;
    font-size: 15px;
    border-radius: 30px;
    font-weight: 500;
    text-align: left;
  }
  .btn-secondary{
    padding: 0px 45px;
    font-size: 15px;
    border-radius: 30px;
  }

  /* gamer section */

  .gamer-section{
    padding: 0 120px;
  }
  .gamer-container{
    flex-direction: column-reverse;
    
  }
  .gamer-img{
    width: 100%;
  }
  
  .gamer-content{
    width: 100%;
    text-align: center;
  }

  .gamer-description{
    text-align: center;
  }
  .purpose{
    text-align: center;
    margin-top: 30px;
  }

  /* online game section */
  .online-game{
    margin: 60px 45px ;
  }
  .card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin: 0 auto; */
  
  }
  .card{
    margin-left: 20px;
  }

  /* instant section */
  .instantly-section{
    margin: 40px;
    flex-direction: column;
    gap: 40px;
  
  }
  .play-game-section{
    flex-direction: column-reverse;
    gap: 40px;
    margin: 40px;
  }
  .instantly-content, .play-game-content{
    width: 100%;
    text-align: center;
    padding: 0 5px;
  }
  .instantly-img, .play-game-img{
    width: 85%;
    margin-left: 0;
    padding: 0;
  }
  .big-pic img{
    width: 80%;
    margin-left: 120px;
    
  }
  .small-pic img{
    width: 200px;
    position: relative;
    right: 0px;
  }
  .p-big-pic img{
    width: 80%;
    margin-right: 120px;
    
  }
  .p-small-pic img{
    width: 200px;
    position: relative;
    left: ;: 0px;
  }
  .instantly-content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

/* icon section */
.icon-section{
  padding: 40px;
}

.icon-button{
  gap: 10px;
  justify-content: start;
  align-items: center;
  border-radius: 40px;
}

/* career section */

.career-section{
  flex-direction: column;
}
.career-container{
  width: 100%;

}
.career-content{
  
  margin-left: 80px;
  margin-right: 80px;
  padding: 50px 0 0;
  flex-direction: column;
  align-items: flex-start;
}
.career-img{
  width: 100%;
  height: 50%;
}


.career-description{
  font-size: 13px;
}
.div{
  width: 100%;
  justify-content: space-between;
  font-size: 15px;
  gap: 10px;
  
}
.btn-career{
  background-color: #fff;
  color: #f53fac;
  margin-bottom: 50px;
}
.btn-career:hover{
border: 2px solid #e93da4;
background-color: #e06ab1;
color: white;
}

.div-2{
  text-align: right;

}
/* fppter section */


.f-description{
  display: grid;
  grid-template-columns:1fr 1fr 1fr ;
  padding: 0;
  gap: 15px;
}
.f-policy{
  display: grid;
  grid-template-columns:1fr 1fr ;
  padding: 0;
  gap: 15px;
}


}
